*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000 px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a76;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo2{
    color: #642a76;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

/*header*/

header{
    width: 100%;
    height: 100%;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.76), hsla(312, 100%, 50%, 0.767)),url(../assets/fondoo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    margin-bottom:0px;   
}



.imagen-logo{
    min-width: 200px;
    align-items: flex-start;
    display:inline-block;
    width: 15%;
    -webkit-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;;
}

nav{
    text-align:center;
}



nav>a{   
    display:inline-block;
	color:#fff;
	text-decoration:none;
    padding: 5% 10%;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;;
}

nav>a:hover{
    text-decoration: underline;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 150%;
    color:aliceblue;
}

.textos-header h2{
    font-size: 200%;
    font-weight: 300;
    color:aliceblue;
}


.contenedor-grafica{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-grafica .contenido-textos{
    width: 80%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0 , 0 ,0.5);
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}




/*  login*/

.form-group{
	max-width: 600px;
    min-width: 200px;
	margin: 0 auto;
	padding: 0 0;
	height: 400px;
	text-align: center;
}

.form-group h1{
    font-size: 200%;
    font-weight: 300;
    color:aliceblue;
}

form{
    padding: 20px 0;
	position: relative;
	z-index: 2;
}

form input{
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid fade(hsla(312, 100%, 50%, 0.767));
    background-color: fade(hsla(312, 100%, 50%, 0.767));
    width: 250px;		
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;		
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover{
    background-color: fade(white, 40%);
}

form input:focus{
    background-color: white;
    width: 300px;
}

button{
    appearance: none;
    outline: 0;
    background-color: black;
    border: 0;
    padding: 10px 15px;
    color: fade(hsla(312, 100%, 50%, 0.767));
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;  
}

button:hover{
    background-color: rgb(245, 247, 249);
}


form p{
    font-size: 100%;
    font-weight: 300;
    color:aliceblue;
}


.formulario-logo{
    margin-top: 5%;
    margin-bottom: 2%;
    min-width: 200px;
    align-items: flex-start;
    display:inline-block;
    width: 15%;
    -webkit-transition:all 100ms ease;
	-o-transition:all 100ms ease;
	transition:all 100ms ease;;
}

.botonregistro{
    text-align: center;
    font-size: 100%;
    font-weight: 300;
    color:aliceblue;
}

.menu{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

select {
    background: transparent;
    border: none;
    font-size: 18px;
    height: 30px;
    padding: 0px;
    width: 250px;
    margin-bottom: 2%;
    background-color: white;
    border: 1px solid black;
 }

.option{
    text-align: center;
    font-size: 18px;
    color:white;

}


/*inicio.css*/


.products-list{
    display: table;
	width: 100%;
}

.product-box{
	display: inline-table;
	padding: 10px;
	width: calc(100%/5 - 20px);
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1100px) {
    .product-box {
        width: calc(100%/2 - 20px);
    }

  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .product-box {
        width: calc(100%/1 - 20px);
    }
  }


.product-box a{
	text-decoration: none;
}
.product{
    width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 8px 3px #ccc;
	background-color: #fff;
	font-family: 'Sen', sans-serif;
}
.product img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.detail-title{
    line-height : 20px;
    margin-bottom: 12%;
    margin-top: 12%;
	text-align: center;
	font-size:100%;
    color:blueviolet;
	width: calc(100% - 10px);
	height: 35px;
}
.detail-description{
    line-height : 15px;
    margin-bottom: 30%;
    margin-top: 10%;
    text-align: center;
	font-size: 90%;
	color: #333;
	padding: 5px;
	width: calc(100% - 10px);
	height: 34px;
}
.detail-price{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
	font-size: 18px;
	color: #333;
	padding: 5px;
	width: calc(100% - 10px);
}

.products-list{
	display: table;
	width: 100%;
}

/*header 2.0 */


.logo-place{
	width: 150px;
	justify-content: center;
	align-items: center;
	margin-top: 7px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo-place img{
	width: 100%;
}

div.options-place{
    display: flex;
    justify-content: center;
    align-items: center;
	color:#fff;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;;
    margin-top: 10%;
    margin-bottom: 10%;
}

.item-option{
    display: flex;
    justify-content:right;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 30px;
	cursor: pointer;
	color:#fff;
	font-family: 'Sen', sans-serif;
}

.item-option p{
	font-size: 15px;
	margin: 0;
	margin-left: 5px;
}

.fas.fa-desktop{
    color:#fff;
}

/*Producto*/

.main-content{
	margin-top: 60px;
	width: 100%;
	font-family: 'Sen', sans-serif;
}
.content-page{
	margin: auto;
	padding: 10px;
	width: calc(100% - 20px);
	max-width: 1180px;
}
.content-page section{
	display: flex;
	background: #fff;
}
.part1{
	padding: 5px;
	width: calc(60% - 10px);
}
.part2{
	padding: 5px;
	width: calc(40% - 10px);
    margin:  20px 0;
	/*border-left: 1px solid #ddd;*/
}
.part1 img{
	width: 100%;
}
.part2 *{
	margin: 10px 0;
	font-family: 'Sen', sans-serif;
}
.part2 h2{
	color: #333;
	font-size: 30px;
}
.part2 h1{
	color: var(--main-red);
	font-size: 45px;
}
.part2 h1 span{
	color: blueviolet;
	font-size: 30px;
}
.part2 h3{
	color: #333;
	font-weight: normal;
}
button{
	border-style: none;
	border-radius: 5px;
	padding: 13px 20px;
	color: #fff;
	background: blueviolet;
	cursor: pointer;
	font-size: 16px;
}
.part2 button{
	border-style: none;
	border-radius: 5px;
	padding: 13px 20px;
	color: #fff;
	background: blueviolet;
	cursor: pointer;
	font-size: 16px;
}

.logout{
    margin-left: 5%;
    display: flex;
    justify-content:right;
	padding: 5px 10px;
	line-height: 30px;
	font-size: 15px;
	cursor: pointer;
	color:#fff;
	font-family: 'Sen', sans-serif;

}

/*clasificacion*/

.clasificacion input[type='radio'] {
    opacity: 0;
  }
  .clasificacion label {
    font-size: 30px;
    color:rgb(150, 150, 150);
    cursor: pointer;
  }
  .clasificacion label:hover {
    color: rgb(217, 215, 11);
  }
   .activo + label{
   color: rgb(255, 230, 0) !important;
   }